<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
         >
    <testsuites>
        <testsuite name="F1">
            <directory suffix="Test.php">./tests/PHPUnit/F1</directory>
        </testsuite>
        <testsuite name="F2">
            <directory suffix="Test.php">./tests/PHPUnit/F2</directory>
        </testsuite>

    </testsuites>

</phpunit>



